.help-heading {
	font-size: 30px;
	letter-spacing: 2px;
}

.control-list__item {
	line-height: 20px;
}
.control-list__item img {
	float: left;
}

.control-text {
	float: left;
	line-height: 50px;
	margin: 0px 10px;
}
